@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&family=Roboto+Condensed:ital@1&display=swap");


/* Hide the vertical scrollbar */
body {
    overflow-y: scroll; /* Always show a scrollbar to prevent content shifting */
    scrollbar-width: none; /* Hide the scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide the scrollbar for IE and Edge */
}

/* Hide the scrollbar for WebKit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    display: none;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}


:root{
    --bg-color: #1f242d;
    --second-bg-color: #32363d;
    --text-color: #fff;
    --main-color: #0ef;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* padding : 2rem 9%;  */
    background: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-position: center;
    background-size: cover;
}

.header .sticky{
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
}

.logo{
    margin-left: 1rem;
    width: 12rem;
    height: 11rem;
}

/* slider */
.slider{
    height: 100vh;
    width: 100%;
    margin-top: 10px;
    position: relative;
}

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #000 15%, transparent);
}

.slider .list .content{
    font-size: 1.5rem;
}

.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 700px;
    max-width: 80%;
    z-index: 1;
}

.slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 10px;
}

.slider .list .item .content h2{
    font-size: 100px;
    margin: 0;
}

.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}

@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
    
}

.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}


.slider .list .item.active h2{
    animation-delay: 1s;

}

.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}


.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}

.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}

.arrows button:hover{
    background-color: #eee;
    color: black;
}

.thumbnail{
    position: absolute;
    bottom: 5px;
    z-index: 11;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: visible;
    justify-content: center;
    animation: fadeInUp 2s forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(100px); /* Start the animation below its original position */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Move the thumbnails to their original position */
    }
}

.thumbnail::webkit-scrollbar{
    width: 0;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    filter: brightness(.8);
    transition: .5s;
    flex-shrink: 0;
    cursor: pointer; /* Change cursor to pointer on hover */
}

.thumbnail .item:hover {
    transform: scale(1.1); /* Enlarge the thumbnail on hover */
    overflow: hidden;
    z-index: 1; /* Ensure the enlarged thumbnail is on top of others */
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.thumbnail .item.active{
    filter: brightness(1.5s)
}

.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
}


@media screen and (max-width: 678px) {
    .thumbnail{
        justify-content: start;
    }
    .slider .list .item .content h2{
        font-size: 60px;
    }
    .arrows{
        top: 45%;
    }
}a








/* Style for the popup notification*/
.popup-copied {
    position: fixed;
    width: 225px;
    font-size: 1.5rem;
    top: 90%;
    left: 35%;
    transform: translate(-50%, -50%);
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 15px;
    display: none;
    animation: fadeInOut 1.5s;
}


/* All navbar options */
.navbar{
    margin-right: 50px;
}

.navbar a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 6rem; /* space between navbar items */
    position: relative;
    transition: 0.3s;
}

.navbar a:hover{
    color: var(--main-color);
}

/* put the red underline for the text but hides it */
.navbar a::after{
    content: '';
    width: 0;
    height: 4px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all .5s ease ;    
}

/* transition effect when cursor hovers over the text */
.navbar a:hover::after{
    width: 105%;
} 

#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    background: linear-gradient(to right,#5203f1, #ff0000 ); /* Use your desired colors */
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* For webkit browsers */
    color: transparent; /* Make text transparent to reveal gradient */
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
    text-shadow: 1.44rem 1.4rem 4px rgba(0, 0, 0, 0.2), 0 14px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
    /* color: transparent;
    -webkit-text-stroke: 1px #fff; */
    /* animation: shadow-slide 2s infinite; */
}

/* @keyframes shadow-slide {
    0%, 100% {
      text-shadow: 0 0 2rem rgba(0, 38, 255, 0.5);
    }
    50% {
      text-shadow: 0 0 3rem rgb(255, 0, 0);
    }
} */

/* Carousel 
.container {
    padding: 2rem;
}

.slider-wrapper {
    position: relative;
    max-width: 80rem;
    max-height: 80rem;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio:  16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25)
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

*/


.home-content p{
    font-size: 2.6rem;
    font-weight: 100;
    color: #6639ec;
}


.home-img{
    margin-right: -100px;           /* Move the image 5% from the right edge of the section */
}

/* Make the image smaller by adjusting its max-width */
.home-img img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;    
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.socials a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 4rem 2rem 3rem 0;
    transition: 0.5s ease;
}

.socials a:hover{
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}






/* Formatting for Download CV button */
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #ff004f;
    border-radius: 4rem;
    box-shadow: 0 0 2rem #ff004f;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition :1s ease;
    margin-top: 1.2rem;
    /* animation: wobble 3s ease-in-out infinite; */
    animation: shake 3s ease-in-out infinite;
}


/* @keyframes wobble {
    0%, 100% {
      transform: translateX(0) rotate(0deg);
    }
    25% {
      transform: translateX(-5px) rotate(-2deg);
    }
    50% {
      transform: translateX(5px) rotate(2deg);
    }
    75% {
      transform: translateX(-5px) rotate(-2deg);
    }
} */


@keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25%, 75% {
      transform: translateX(-1px);
    }
    50% {
      transform: translateX(1px);
    }
}

.btn:hover {
    box-shadow: none;
}











/* About section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background: var(--second-bg-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px); /* You can add a small translation effect if desired */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.about-img img{
    width: 35vw;
    animation: floatImage 6s ease-in-out infinite;  
}

@keyframes floatImage {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-1.4rem);
    }
    100%{
        transform: translateY(0);
    }
}

.heading{
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2{
    text-align: left;
    line-height: 2;
}

.about-content h3{
    text-align: left;
    font-size: 4rem;
    font-weight: 200;
}

.about-content span{
    color: #ffb700;
}

.about-content i{
    margin-left: 15px;
    font-size: 3.7rem;
    color: #ffb700;
}

.about-content p{
    font-family: 'Mukta', 'Poppins';
    font-size: 1.6rem;
    margin: 4rem 0 6rem;
    text-align: left;
    font-weight: 0;
}

.btn2{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition :1s ease;
    margin-top: -2.5rem;
    animation: shake 3s ease-in-out infinite;
}

.btn2:hover {
    box-shadow: none;
}


/* About me html page */
.aboutme-content h2{
    text-align: left;
    line-height: 2;
}

.aboutme-img img{
    width: 30vw;
}

.aboutme-content h3{
    text-align: left;
    font-size: 3.5rem;
    font-weight: 200;
    font-style: italic;
}

.aboutme-content i{
    margin-left: 15px;
    font-size: 4rem;
    color: #ffb700;
}

.aboutme-content span{
    background: linear-gradient(90deg, #e9cd2d, #a16902);
     /* Use your desired colors */
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* For webkit browsers */
    color: transparent; /* Make text transparent to reveal gradient */
    font-size: 5rem;
}

.aboutme-content p{
    font-family: 'Mukta', 'Poppins';
    background: linear-gradient(135deg, #00daf2, #c800ff);/* Use your desired colors */
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* For webkit browsers */
    color: transparent; /* Make text transparent to reveal gradient */
    color: transparent; /* Make text transparent to reveal gradient */
    line-height: 1.7;
    font-size: 2rem;
    margin: 4rem 0 6rem;
    text-align: left;
    font-weight: 200;
}











/* Education section */
.tab-titles{
    color: #ffffff;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    margin: 50px 0 50px;
    width: 100%;
}

.tab-titles p{
    font-family: 'Roboto Condensed', sans-serif;
    color:rgb(0, 153, 255);
    display: flex;
    font-size: 50px;
    justify-content: center;
}
.tab-links{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 7px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ease;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    line-height: 150%;
    list-style: none;
    margin: 40px 0; /* Distance between each line in tab info*/
}

.tab-contents ul li span{
    text-decoration: underline;
    color: #e9880a;
    font-size: 30px;
}

.tab-contents{
    display: none;
    font-size: 2rem;
    margin: 2rem 0 3rem;
}

.tab-contents.active-tab{
    display: block;
}

.tab-contents.active-tab{
    margin-top: 12rem;
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    cursor: pointer;
    position: relative;
}

/* Continuous line separator for tab links */
.tab-titles {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.tab-titles::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff; /* You can change the color to match your design */
    bottom: -80px;
    left: 0;
    box-shadow: 0 0 2rem #00d0ff;
    color: #ff004f;
}













/* Skills */

.skills{
    background: var(--second-bg-color);
}


#services{
    text-align: center;
}

#services h1{
    color: orange;
    background: linear-gradient(to right, #e5780a, #bc076a); /* Use your desired colors */
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* For webkit browsers */
    color: transparent; /* Make text transparent to reveal gradient */
    font-size: 70px;
    font-weight: 600;
    align-items: center;
    font-style: bold;
}

.services-list{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 100px; /*Gap space between the grids*/
    margin-top: 50px;
    /* margin-left: 50px;
    margin-right: 50px; */
    
}

.services-list a {
    align-items: center;
    font-style: italic;
    color: #5100ff;
    text-decoration: none;
    font-size: 18px;
    display: block;
    margin-top: 15px; /* Add some space between each link */
}

.services-list h2{
    margin-top: 100px;
    font-size: 30px;
    margin: 0;  /* the margin gap between icon and text */
}











/* Description text */
.services-list p{
    margin-top: 20px;
    font-size: 20px;
    font-family:monospace;
}

.services-list div{
    background: #262626;
    margin-bottom: 6rem;
    flex: 1 1 30rem;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 50px;
    transition: background 0.5s, transform 0.5s ease;
    box-shadow: 0 0 4.5rem var(--main-color);
    background: linear-gradient(to right, #ff004f, #ff7300); /* Use your desired colors */
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* For webkit browsers */
    color: transparent; /* Make text transparent to reveal gradient */
    border: 0.2rem solid var(--bg-color); /* Border outline */
}

.services-list div i{
    color:rgb(133, 115, 234);
    font-size: 90px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.services-list div h2{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 15px;
    background: linear-gradient(to right,#f06, #3cf);
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* For webkit browsers */
    color: transparent; /* Make text transparent to reveal gradient */
}

.services-list div:hover{
    transform: translateY(-20px); 
    background: linear-gradient(to bottom,#104382,#ff6b6b);
    color: #fff;
    border: 0.2rem solid var(--main-color); /* Border outline when hovered on*/
}










/* PORTFOLIO section */

.portfolio{
    margin-bottom: 10rem;
}

.portfolio h2{
    margin-bottom:  4rem;
    font-size: 70px;
    font-weight: 550;
    background: linear-gradient( #0004ff,#ff004f); /* Use your desired colors */
    background-clip: text; /* Apply gradient to text */
    -webkit-background-clip: text; /* For webkit browsers */
    color: transparent; /* Make text transparent to reveal gradient */
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3rem;
    margin: 0;
}

.portfolio-container .portfolio-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img{
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box:hover img{
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1), rgb(51, 51, 239));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{
    font-size: 3rem;
    font-weight: 500;
}

.portfolio-layer p{
    font-size: 1.6rem;
    margin: 0.3rem 0 1rem;

}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}










/* Contact section */

.contact{
    background: var(--second-bg-color);
}

.contact h2{
    margin-bottom: 3rem;
    font-weight: 600;
}

.contact form{
    max-width: 100rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    margin: .7rem 0;
}

.contact form .input-box input{
    width: 49%;
}

.contact form textarea{
    resize: none;
}

.contact form .btn3{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(10, 233, 192);
    border-radius: 4rem;
    box-shadow: 0 0 1.5rem rgb(10, 233, 192);
    font-size: 2rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition :0.8s ease;
    margin-top: 2rem;
    cursor: pointer;
}

.contact form .btn3:hover {
    box-shadow: none;
}

.popup{
    width: 600px;
    background: #2d2e2f;
    border-radius: 4rem;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.5s;
    border: 0.2rem solid var(--main-color);
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1)
}

.popup{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 500;
}

.popup h2{
    font-family: 'Montserrat';
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    margin-top: 20px;
}

.popup a i{
    font-size: 8rem;
    color: #00d0ff;
    margin-top: 2rem;
    border-radius: 70%;
}

.popup p{
    font-size: 1.8rem;
    margin-top: -20px;}

.popup button{
    width: 100%;
    margin-top: 25px;
    padding: 10px 0;
    background: rgb(42, 42, 228);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}









/* Footer section */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    /* margin-left: 8rem; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    background: var(--bg-color);
    border-radius: 0.8rem;
    transition: 0.5s ease;
}

.footer-iconTop{
    margin-left: 100px;
    margin-right: -35px;
}

.footer-iconTop a i{
    font-size: 4rem;
    color: rgb(200, 38, 240); /* Color of the up arrow */
}

.footer-contact {
    font-size: 1.6rem;
    text-align: right; /* Align contact info to the right */
    display: flex;
    flex-direction: column; /* Stack the contact paragraphs */
    align-items: flex-end; /* Align contact paragraphs to the right */
    margin-left: auto;
}

.footer-contact span{
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.6rem;
    margin-left: 1rem;
    color: white;
}

.footer-contact p i{
    vertical-align: bottom;
    margin-top: 1rem;
    font-size: 2.5rem;
}

/* About me html page */
.about-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2.2rem 9%;
    background: var(--bg-color);
}

.about-footer-text p{
    font-size: 1.4rem;
    margin-top: 1.150rem;
    /* flex: 5rem; */
}

.about-footer-contact {
    font-size: 1.4rem;
    text-align: center; /* Align contact info to the right */
    display: flex;
    /* flex-direction: column; Stack the contact paragraphs */
    align-items: flex-end; /* Align contact paragraphs to the right */
    /* margin-left: 15%; */
}

.about-footer-contact span{
    display: inline-block;
    vertical-align: bottom;
    font-size: 1.4rem;
    margin-left: 0.4rem;
    color: white;
}

.about-footer-contact p i{
    vertical-align: bottom;
    margin-top: 1rem;
    font-size: 2rem;
    margin-left: 65px;
}





/* Timeline for education.html */
.timeline{
    position: relative;
    max-width: 1300px;
    margin: 100px auto;
}
.timeline a{
    color: white;
    text-decoration: underline;
    font-style: italic;
}

.container1{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    /* background: rgba(0, 0, 0, 0.3); */
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown{
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.container1:nth-child(1){
    animation-delay: 0s;
}
.container1:nth-child(2){
    animation-delay: 1s;
}
.container1:nth-child(3){
    animation-delay: 2s;
}
.container1:nth-child(4){
    animation-delay: 3s;
}
.container1:nth-child(5){
    animation-delay: 4s;
}
.container1:nth-child(6){
    animation-delay: 5s;
}
.container1:nth-child(7){
    animation-delay: 6s;
}


.text-box{
    padding: 20px 30px;
    background: linear-gradient(135deg, #394867, #1c8ca7);
    position: relative;
    border-radius:4rem;
    font-size: 15px;
    box-shadow: 0 0 1.5rem 0.5rem rgba(0, 163, 251, 0.2), inset 0 0 10px 5px transparent;
    /* background: linear-gradient(135deg, #d8b1e9, #8e65af); */

}

.text-box h2{
    font-style: 'Poppins';
    font-size: 30px;
    font-weight: 700;
    margin-bottom: rem;
    color: rgb(179, 0, 255);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.text-box small{
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: 700;
    color: rgb(0, 251, 255);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.text-box p{
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.05);
}

.left-container{
    left: 0;
}

.right-container{
    left: 50%;
}

/* Logos on education.html page */
.container1 i{
    font-size: 5rem;
    color: rgb(249, 95, 0);
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: -25px;
    top: 40%;
    z-index: 10;

    background-color: var(--bg-color); /* Set the background color you want */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

/* .container img{
    font-size: 5rem;
    position: absolute;
    width: 40px;
    border-radius: 50%;
    right: -20px;
    top: 32px;
    z-index: 10;
} */

.right-container i{
    left: -25px;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 100%;
    background-color: var(--main-color);
    border-radius: 10px;
    top: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}

@keyframes moveline{
    0%{
        height: 0;
    }
    100%{
        height: 100%;
    }
}

.left-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 45%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #1c8ca7;
    right: -15px;
}

.right-container-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 45%;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #394867;
    left: -15px;
}



@media screen and (max-width: 600px){

    .timeline{
        margin: 150px auto;
    }
    .timeline::after{
        left: 31px;
    }
    .container1{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .right-container{
        width: 100%;
        margin-left: -280px;
    }
    .text-box{
        font-size:13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }

    .left-container i{
        left: 7px;
    }
    .right-container i{
        left: 7px
        
    }
    .left-container-arrow, .right-container-arrow{
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }
};
    








/*----------Breakpoints----------*/


@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}


@media (max-width: 991px){
    .header{
        padding: 2rem 3%;
    }

    .section{
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}


@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 0.1rem rgba(0, 0, 0, 0.2);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

    .navbar.active{
        display: block;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }
    
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .about img{
        width: 70vw;
        margin-top: 4rem;
    }

    .skills{
        padding-bottom: 7rem;
    }

    .portfolio-container{
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio{
        padding-bottom: 7rem;
    }
}

@media(max-width: 617px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}


@media(max-width: 450px) {
    html {
        font-size: 50%;
    }

    .contact form .input-box input{
        width: 100%;
    }
}


@media(max-width: 365px) {
    .home-img img{
        width: 90vw;
    }

    .about-img img{
        width: 90vw;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }
}


